
@model VidlyNew.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <p>These customers have watched @Model.Movie.Name before:</p>
    <table class="table table-bordered table-hover">
        <tr>
            @foreach (var customer in Model.Customers)
            {
                <td>
                    @Html.ActionLink(customer.Name, "Customers", new
                    {
                        id = customer.Id
                    }, null)
                </td>
            }
        </tr>
    </table>
}
